.popup > .view {
    display: flex;
    position: fixed;
    top: 50px;
    left: 0;
    width: calc(100% - 20px);
    height: calc(100% - 70px);
    background: white;
    margin: 10px;
    color: black;
}

.popup > .view > div:first-child{
    display: flex;
}

.popup > .view > div:first-child, .popup > .view > div:last-child{
    width: 50%;
}

.popup > .view > div:first-child > img{width: 80%;height: 70%;object-fit: contain;margin: calc(20px + 2vw) auto;}

.popup > .view > div:last-child{}

.popup > .view > div:last-child > div:first-child{
    margin: calc(1vw + 20px) calc(0.2vw + 5px) calc(0.2vw + 5px) 0;
}

.popup > .view > div:last-child > div:first-child > h2{
}

.popup > .view > div:last-child > div:first-child > h2 > span:first-child{}

.popup > .view > div:last-child > div:first-child > h2 > span:last-child{}

.popup > .view > div:last-child > div:first-child > h2 > span:first-child, .popup > .view > div:last-child > div:first-child > h2 > span:last-child{
}

.popup > .view > div:last-child > div:nth-child(2){margin-right: calc(0.2vw + 5px);}
.popup > .view > div:last-child > div:nth-child(2) > p{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.popup > .view > div:last-child > div:nth-child(3){
    display: flex;
    margin-top: calc(10px + 1vw);
    font-size: 13px;
}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child, .popup > .view > div:last-child > div:nth-child(3) > div:last-child{
    display: flex;
    position: absolute;
    width: 25%;
    height: calc(100px + 4vw);
    overflow: hidden;
    transition: 2s;
}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child:hover, .popup > .view > div:last-child > div:nth-child(3) > div:last-child:hover{
    width: 40%;
    margin-top: calc(-10vw + -90px);
    height: calc(250px + 10vw);
}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div, .popup > .view > div:last-child > div:nth-child(3) > div:last-child > div{
    position: relative;
    background: white;
    width: 100%;
    transition: 2s;
}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div:hover , .popup > .view > div:last-child > div:nth-child(3) > div:last-child > div:hover{
    border: 1px solid;
    border-left: 0;
    overflow: auto;
}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div:hover{
    z-index: 1;
}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:first-child{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:first-child > svg{
}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:first-child > svg:first-child{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:first-child > svg:nth-child(2){}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:first-child > svg:nth-child(3){}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:first-child > svg:nth-child(4){}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:first-child > svg:last-child{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:nth-child(2){}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:nth-child(2) > div:first-child{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:nth-child(2) > div:nth-child(2){}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:nth-child(2) > div:nth-child(3){}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:nth-child(2) > div:nth-child(4){}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:nth-child(2) > div:last-child{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:nth-child(3){}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:nth-child(3) > div:first-child{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:nth-child(3) > div:first-child > img{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:nth-child(3) > div:last-child{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:nth-child(3) > div:last-child > div{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:nth-child(3) > div:last-child > div > input{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:nth-child(3) > div:last-child > div > div{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:nth-child(3) > div:last-child > div > div > span:first-child{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:nth-child(3) > div:last-child > div > div > span:nth-child(2){}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:nth-child(3) > div:last-child > div > div > input{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:last-child{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:last-child > div:first-child{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:last-child > div:first-child > img{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:last-child > div:last-child{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:last-child > div:last-child > div:first-child{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:last-child > div:last-child > div:first-child > span:first-child{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:last-child > div:last-child > div:first-child > span:last-child{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:last-child > div:last-child > div:nth-child(2){}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:last-child > div:last-child > div:nth-child(3){}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:last-child > div:last-child > div:nth-child(3) > span:nth-child(2){}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:last-child > div:last-child > div:nth-child(3) > input{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:last-child > div:last-child > div:last-child{}

.popup > .view > div:last-child > div:nth-child(3) > div:first-child > div > div:last-child > div:last-child > div:last-child > span{}

.popup > .view > div:last-child > div:nth-child(3) > div:last-child{
    text-align: right;
    right: 0;
    justify-content: flex-end;
    margin-right: calc(0.2vw + 5px);
}

.popup > .view > div:last-child > div:nth-child(3) > div:last-child > div{}

.popup > .view > div:last-child > div:nth-child(3) > div:last-child > div.new{}

.popup > .view > div:last-child > div:nth-child(3) > div:last-child > div > div{
    margin-bottom: calc(5px + 0.4vw);
}

.popup > .view > div:last-child > div:nth-child(3) > div:last-child > div > div > span:first-child:before{
    content: attr(data-detail);
    position: absolute;
    color: #f8eb6b;
    overflow: hidden;
    background: linear-gradient(90deg,#f8eb6b,#453100,#0f0f02,#453100,#f8eb6b),#fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: h2Anime 3s ease-in-out infinite;
    background-size: 200% auto;
    background-position: 0;
    cursor: pointer;
}

.popup > .view > div:last-child > div:nth-child(3) > div:last-child > div > div > span:last-child{
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.popup > .view > div:last-child > div:last-child{}

.popup > .view > div:last-child > div:last-child > div:first-child{}

.popup > .view > div:last-child > div:last-child > div:first-child > div{}

.popup > .view > div:last-child > div:last-child > div:first-child > div.selected{}

.popup > .view > div:last-child > div:last-child > div:first-child > div > span{}

.popup > .view > div:last-child > div:last-child > div:first-child > div > div{}

.popup > .view > div:last-child > div:last-child > div:first-child > div > div > span:first-child{}

.popup > .view > div:last-child > div:last-child > div:first-child > div > div > span:last-child{}

.popup > .view > div:last-child > div:last-child > div:last-child{}

.popup > .view > div:last-child > div:last-child > div:last-child > div{}

.popup > .view > div:last-child > div:last-child > div:last-child > div > svg{}

.popup > .view > div:last-child > div:last-child > div:last-child > div > span{}

.popup > .view > div:last-child > div:last-child > div:last-child > div > input{}