:root {
  --color1: hsl(54.47deg 90.97% 69.61%);
  --color2: hsl(42.61deg 100% 13.53%);
  --color3: hsl(60deg 76.47% 3.33%);
}
@import './base.css';
@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans.ttf);
}
html{
    scroll-behavior: smooth;
    overflow: hidden!important;
}
body{
    background: black;
    background: linear-gradient(315deg, rgba(0,0,0,1) 0%, rgba(12,12,12,1) 10.45%, rgba(43,43,43,1) 46.02%, rgba(12,12,12,1) 89.54%, rgba(0,0,0,1) 99.58%, rgba(5,4,10,1) 100%);
}
a {
    all: unset;
    cursor: pointer;
}
label{
    display: none;
}
input:focus {
  outline: none;
  border: none;
}
input:-internal-autofill-selected {
    width: 100% !important;
    padding: 4px !important;
}
input[type="text"], input[type="password"]{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: var(--color1);
}
input[type="text"] ~ div, input[type="password"] ~ div{
  position: relative;
  top: -55px;
  left: 8px;
  height: 0;
  font-size: 15px;
  animation: .3s inputsAni;
  color: var(--color1);
}
@keyframes inputsAni {
  0% {
    font-size: 16px;
    top: -35px;
    left: 11px;
  }
}
input[type="text"] ~ div.out, input[type="password"] ~ div.out{
    position: relative;
    top: -35px;
    left: 11px;
    height: 0;
    font-size: 16px;
    animation: .3s inputsAniOut;
}
@keyframes inputsAniOut {
  0% {
    top: -55px;
    left: 8px;
    font-size: 15px;
  }
}
input ~ hr {
  height: 0px !important;
  width: 100%;
  margin: auto;
  animation: .3s hrAni;
}
@keyframes hrAni {
  0% {
    width: 0%;
  }
}
input ~ hr.out {
  width: 0%;
  animation: .3s hrAniOut;
}
@keyframes hrAniOut {
  0% {
    width: 100%;
  }
}
h1:before, h2:before {
  content: attr(data-title);
  position: absolute;
  color: var(--color1);
  overflow: hidden;
  background: linear-gradient(to right, var(--color1), var(--color2), var(--color3), var(--color2), var(--color1)), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: h2Anime 3s ease-in-out infinite;
  background-size: 200% auto;
  background-position: left;
  cursor: pointer;
}
@keyframes h2Anime {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
#app > .error {
  position: fixed;
  color: var(--color1);
  top: calc(100% - 70px);
  left: calc(0.5% + 5px);
  background: var(--color2)b8;
  padding: 18px;
  border: 1px solid;
  box-shadow: 0 0 4px 1px;
  z-index: 2;
}

.bar-icon {
  position: relative;
  display: inline-block;
}

.bar-icon-text {
	position: absolute;
	top: 130%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	padding: 2px 5px;
	font-size: 12px;
	color: var(--color1);
	font-weight: bold;
	background: var(--color2);
	border-radius: 3px;
	white-space: nowrap;
	opacity: 0;
	visibility: hidden;
	transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
}

.bar-icon:hover .bar-icon-text {
  opacity: 1;
  visibility: visible;
}